@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font), Arial, Helvetica, sans-serif;
}

:root{
    --title-font: 'Lexend', Arial;
    --normal-font: 'Poppins', Arial;
    --topbar-background:#0F3A62;
    --nav-background: #194E80;
    --rosa-escuro:#BB3E8E;
    --rosa-claro:#EB4796;

    --azul:#205F9D;
    --background-blocos:#FAFAFA;
    --rosa-title-bloco:#A13179;
    --cinza:#555555;
    --cinza-escuro:#2E2E2E;

}

/* Topbar: estilos base compartilhados entre as versões mobile e desktop. */
#topbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;
    padding: 0px 24px;

    background-color: var(--topbar-background);
    font-size: 14px;
    color: white;
} 

/* mobile */
#topbar #info-mobile{gap: 14px;}
/* desktop */
#topbar #info-desktop{gap: 16px;}

/* Ajustes do button do topbar */
.topb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 6px;
    height: 10px;
    padding: 12px 14px;

    font-weight: 500;
    font-size: 13px;
    background-color: white;
    color: var(--topbar-background);
    border: none;
    border-radius: 6px;  
}

.topb:hover {
    cursor: pointer;
}

/* === MEDIAS QUERY TOPBAR === */

@media screen and (max-width:700px) {/* Mobile: mostra info-mobile e oculta bloco desktop */
    #topbar #info-mobile{display: flex;}
    #info-mobile > #pix-mobile{display: none;}
    #topbar #info-desktop{display: none;} 
}

@media screen and (min-width: 701px) and (max-width: 1099px) { /* Tablet: mantém layout mobile e adiciona informações */
    #topbar #info-mobile,#pix-mobile {display: flex;}
    #info-mobile > #bnt-pix{display: none;}
    #topbar #info-desktop{display: none;}
}

@media screen and (min-width:1100px) {/* Desktop: mostra info-desktop e oculta bloco mobile */
    #topbar  #info-mobile{display: none;}
    #topbar  #info-desktop{display: flex;}
}/* Fim dos medias query topbar*/

#menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 24px;
    width: 100%;
    height: 70px;
    
    font-size: 16px;
    background-color: var(--nav-background);
}

/* Classe que ativa o menu fixo */
#menu.fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: slideDown .3s ease;
}

/* Animação suave */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


#logo-nav{height: 50px;}

#nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 34px;

    list-style-type: none;
}

#doe-btn {
    height: 40px;
    padding: 12px 24px;
    border-radius: 16px;
    
    border: none;
    background-color: #BB3E8E ;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: background-color .8s;
}

#doe-btn:hover {
    background-color: #ff2fb3;
}

#nav li > a.link-nav{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

#nav li > a.link-nav:hover {
    background-color: white;
    color: var(--nav-background);
    border-radius: 16px;
    padding: 10px 16px;
}

/* Menu hamburguer: oculto no modelo desktop */
#menu-toggle{
    height: 54px;

    font-size: 26px;
    color: white;

    background-color: initial;
    border: none;
}

/* === Media query menu ===*/

@media screen and (max-width: 800px) { 
    #menu {
        height: 64px;
        position: relative; /* Base para o menu absoluto */
    }

    #logo-nav { height: 45px; }
    
    #nav {
        display: none; /* Esconde o menu inicialmente */
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: var(--nav-background);
        padding: 30px 20px;
        gap: 30px;
        z-index: 1000;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
        align-items: center;
    }

    #nav.active {
        display: flex; /* Mostra o menu quando ativado via JS */
    }

    #nav li {
        width: 100%;
        text-align: center;
    }

    #nav li > a.link-nav:hover {
        padding: 10px 20px;
    }
}

@media screen and (min-width: 801px){
    #menu-toggle { display: none; }
    #nav { display: flex; } /* Garante que o menu apareça no desktop */
}

/*fim media query menu*/


/* == INFORMAÇÕES DO HEADER== */

#main-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center; 

    padding: 0px 24px;

    font-size: 19px;
    color: white;
    background: #BB3E8E;
    background: linear-gradient(0deg, rgba(187, 62, 142, 1) 0%, rgba(32, 95, 157, 1) 100%, rgba(92, 74, 143, 1) 55%);
}

/* Textos e button */
#info-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 576px; 
    
    gap: 34px;
    padding: 15px 20px;

}
#info-header  h1{
    max-width: 650px;

    font: 700 3em var(--title-font);
}
#info-header  p{
    max-width: 500px;
}
#button-doacao{
    max-width: 185px;
    padding: 12px 18px;

    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: var(--rosa-claro);
    text-decoration: none;
    border-radius: 18px;

}
#info-header #button-doacao > i{
    padding-right:10px ;
}

/* Foto da equipe */
#equipe-lapec{
    display: flex;
    justify-content: center;
    flex: 1 1 576px;

}
#equipe-lapec img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;

}
/* fim das informação do header */

/* ==MEDIAS QUERY HEADER== */

/* Celular */
@media screen and (min-width:320px) and (max-width:1219px){

    #main-header{
        position: relative;
        padding: 28px 14px 0 14px ;
    }
    #info-header{
        padding: 0;
        text-align: center;
        align-items: center;
    }
    #info-header h1 { font-size: clamp(1.8em, 5vw, 2.5em); }

    #info-header p {font-size: clamp(16px, 2.5vw, 20px);}
    #button-doacao{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;

    }
}

/* Section Conheça nossa causa */

#nossa-causa{
    padding: 65px 24px;
}

/* BLOCO SUPERIOR */

#equipe-multi{
    max-width: 780px;
    margin: 0 auto 60px auto;
    text-align: center;
}

#equipe-multi img{
    width: 110px;
    margin-bottom: 18px;
}

#equipe-multi .titulo{
    font-family: var(--title-font);
    font-size: clamp(1.8rem, 3vw, 2.6rem);
    margin-bottom: 18px;

    color: var(--azul);
}

#equipe-multi p{
    font-size: 1rem;
    line-height: 1.7;

    color: var(--cinza);
}

#equipe-multi strong{
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;

    color: var(--cinza-escuro);
}

/* LISTA DE CARDS */

.cards-causa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    gap: 40px;
}

.cards-causa li{
    display: flex;
    flex: 1 1 320px;
    max-width: 360px;
}

/* CARD */

.cards-causa li article{
    width: 100%;
    padding: 38px 30px;
    border-radius: 16px;

    text-align: center;
    background-color: white;
    transition: .3s ease;    
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
}

.cards-causa li article:hover{
    transform: translateY(-6px);
    box-shadow: 0 5px 35px rgba(186, 186, 186, 0.5);

}

/* ÍCONE */

.cards-causa li article img{
    width: 100px;
    height: 100px;
    padding: 16px;
    margin-bottom: 20px;

    border-radius: 50%;
    background-color: #FCE8F3;
}

/* TÍTULO DO CARD */

.cards-causa h3{
    font-family: var(--title-font);
    font-size: 1.25rem;
    margin-bottom: 14px;

    color: var(--rosa-title-bloco);
}

/* TEXTO DO CARD */

.cards-causa p{
    font-size: 0.95rem;
    line-height: 1.6;

    color: var(--cinza);
}

/* Media query */

@media (min-width: 1100px){

    #nossa-causa{padding: 110px 24px;}
    #equipe-multi{margin-bottom: 80px;}
}

/* == SECTION NOSSA HISTÓRIA == */

#nossa-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;

    min-height: 400px;
    padding: 54px 24px;
    
    text-align: center;
    color: white;
    background-image: linear-gradient(#194e80c1, #194e80c1), url("../IMG/Banner-pages/Lapec-banner.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#nossa-historia h2{

    font-family:var(--title-font);
    font-weight: 700;
    font-size: clamp(1.7rem, 3vw, 2.6rem);
}
.paragrafo{

    max-width: 640px;

    text-align: justify;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}
.cta{
    
    width: 160px;
    padding: 8px 18px;

    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: solid 2px var(--rosa-claro);
    border-radius: 28px;

    transition: .5s;
}
.cta:hover{

    background-color: var(--rosa-claro);
}

/* == Section nos ajude a continuar == */

#nos-ajude{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    gap: 24px;
    padding: 54px 24px;
}

#nos-ajude img{
    width: 100%;
    max-width: 460px;
}
#nos-ajude h2{

    text-align: center;
    color: var(--azul);
    font-size: clamp(1.7rem, 3vw, 2.6rem);
}
 #nos-ajude p{
    color: var(--cinza-escuro);
 }
 #nos-ajude a{
    border-color: #3491E6;
    color: var(--nav-background);
 }
 #nos-ajude a:hover{
    background-color: #3491E6;
    color: white;
 }

/* == Section nos ajude a continuar == */

#nos-ajude{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 32px;
    padding: 60px 24px;

    text-align: center;
}

#nos-ajude img{
    display: block;

    width: 100%;
    max-width: 420px;

    border-radius: 18px;
}

#nos-ajude #info-contribuir{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;


}
#nos-ajude h2{
    width: 100%;
    margin-top: 12px;

    color: var(--azul);
    font-size: clamp(1.8rem, 3vw, 2.6rem);
}

#nos-ajude p{
    max-width: 640px;
    color: var(--cinza-escuro);
}

#nos-ajude a{
    margin-top: 16px;

    border-color: #3491E6;
    color: var(--nav-background);
}

#nos-ajude a:hover{
    background-color: #3491E6;
    color: white;
}


/* == Layout Desktop ==
   A partir de 1024px a seção deixa de ser empilhada
   e passa a funcionar em duas colunas.
   O flex distribui espaço entre texto e imagem,
   mantendo a imagem limitada para não estourar. */

@media (min-width: 1200px){

    #nos-ajude{
        justify-content: space-between;

        max-width: 1400px;
        margin: 0 auto;
    }

    #nos-ajude img{
        flex: 1;
        max-width: 480px;
    }

}
/* == SECTION GALERIA == */

#galeria{
    padding: 24px;
    background-color: var(--nav-background);
    text-align: center;
}

#galeria h2{
    font-family: 'Dancing Script';
    font-weight: 500;
    font-size: clamp(1.6rem, 3vw, 2.2rem);
    color: white;

    margin-bottom: 34px;
}


/* GRID */

.grid-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


/* IMAGENS */

.grid-galeria img{
    width: 100%;
    height: 100%;
    display: block;

    border-radius: 8px;
    object-fit: cover;

}


/* Tablet */

@media (min-width: 768px){
    .grid-galeria{
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
    }
}


/* Desktop */

@media (min-width: 1100px){
    .grid-galeria{
        grid-template-columns: repeat(4, 250px);
        justify-content: center;
    }
}


.main-footer {
    background-color: var(--nav-background); /* Azul profundo conforme a imagem */
    color: white;
    padding: 40px 10%;
    margin-top: 50px;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-lapec {
    max-width: 200px;
    height: auto;
}

.footer-line {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    width: 70%;
    margin: auto;
}

.info-column h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


.contact-item {
    display: flex;
    align-items: center; 
    gap: 12px; 
}


.contact-item.align-top {
    align-items: flex-start;
}

.footer-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    object-fit: contain;
    flex-shrink: 0; 
}

.contact-item p {
    margin: 0; 
    font-size: 0.95rem;
}

.rodape a{
    color: white;
    font-weight: bold;
}

/* Media Query footer responsivo */
@media screen and (max-width: 768px) {
    .rodape {
        width: 100%;
        justify-content: flex-start;
        padding: 0 10px;
        margin: 0;
    }

    .info-column {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .rodape {
        width: 100%;
        justify-content: center;
        padding: 0 10px;
        margin: 0;
    }

    .info-column {
        width: 50%;
    }
} /* Fim da responsividade do footer */
